.card-img-top {
    width: 100%;
    /* Pastikan gambar memenuhi lebar kartu */
    height: 500px;
    /* Tinggi gambar tetap */
    object-fit: cover;
    /* Gambar akan dipotong agar sesuai dengan dimensi */
    border-radius: 5px;
    /* Opsional: Untuk memberikan efek sudut melengkung */
}

.hero-section {
    background: url(Background\ invoice.jpeg) center/cover;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.movie-card {
    transition: transform 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);
}

<<<<<<< HEAD
.bg{
    background-color:#4A148C;
}

=======
.bg {
    background-color: #4A148C;
}
>>>>>>> d0d6d7fc9a1bd3bc33fc005dc6a3b26190bd94d0
