body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    background-color: white;
    height: 50px;
    padding: 5px;
}

#menu{
    background-color: purple;
    height:30px;
    padding:5px;      
}

#sidebar{
    width: 30%;
    height: 70%;
    padding: 5px;
    float: left;
    background-color: violet; 
    text-align: center;
    color:white; 
      
}

#konten{
    float: left;
    padding: 5px;    
}

#cinema-location{
    height:30px;
    padding:5px;
    background-color: green;
    clear: both;
}

#booked-seat{
    height:30px;
    padding:5px;
    background-color: grey;
    clear: both;
}

#card-image-top {
    width: 100%; /* Pastikan gambar memenuhi lebar kartu */
    height: 500px; /* Tinggi gambar tetap */
    object-fit: cover; /* Gambar akan dipotong agar sesuai dengan dimensi */
    border-radius: 5px; /* Opsional: Untuk memberikan efek sudut melengkung */
}

